<footer>
    <!--
<img src="img/izumb 1.png" alt="logo">
<button class="maps" id="maps">
    <img src="img/ci_location.png" alt="maps">
</button>
<label for="maps"> Электрозаводская 21</label>
<button class="mail" id="mail">
    <img src="img/fluent_mail-16-filled.png" alt="mail">
</button>
<label for="mail"> IZUM@mail.ru</label>
<button class="phone" id="phone">
    <img src="img/carbon_phone-filled.png" alt="phone">
</button>
<label for="phone"> +7 (900) 123-23-23</label>
-->
    <div class="foot_elem foot_elem1">
        <img src="/izumb 1.png" alt="logo">
    </div>
    <div class="foot_elem foot_elem2">
        <img src="/ci_location.png" alt="lovation">
        <p>Электрозаводская 21</p>
    </div>
    <div class="foot_elem foot_elem3">
        <img src="/fluent_mail-16-filled.png" alt="mail">
        <p>IZUM@mail.ru</p>
    </div>
    <div class="foot_elem foot_elem4">
        <img src="/carbon_phone-filled.png" alt="phone">
        <p>+7(900)123-23-23</p>
    </div>
</footer>