<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/styleAdmin.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1>Панель администратора для удаления мастеров</h1>
        <form action="/admindelete", method="POST">
            <div class="delmenu">
                <label for="uidDelete">Введите uid для удаления учителя</label>
                <input name="uidDelete" type="text" id="uidDelete">
                <button type="submit">Удалить</button>
            </div>
              
        </form>
    </div>
</body>
</html>